.Footer {
  text-align: center;
  margin-bottom: -8px;
  background-color: #FFCC00;
  padding: 5px 20px; 
  margin-top: 5%;
}

ul {
    list-style-type: none;
    width: 100%;
    color: #80660D;
  }

.titlefooter{
    font-size: 25px;
    font-weight: bold;
    color: #80660D;
  }

a {
    padding-left: 20px;
  }

.footerby{
    color: #80660D;
    text-align: center;
    margin-left: 70px;

  }

.fab {
    size: 10px;
  }
