.nav {
  background-color: #FFCC00!important;
  box-shadow: 0 5px 6px -6px black;
  z-index: 10;
}
.logo {
  width: 70px;
  height: 70px;
}

.links {
  color: #80660D;
  transition: 0.5s;
}

.links:hover {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}